* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;


}

header {
    background-image: url(images/backblue.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    max-width: 1100px;
    margin: 0 auto;


}


.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    
}



/*.logo img {
    width: auto;
    height: 100px; 
    display: block; 
    margin: 0;
}
*/

.menu .logo {
    background-image: url(images/logo_banco.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
    color: rgba(255, 255, 255, 0);
    
}

.menu .navbar ul {
    list-style: none;
}

.menu .navbar ul li {
    position: relative;
    float: left;

}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color:white;
    display: block;


}

.menu .navbar ul li a:hover {
    color: rgb(54, 54, 177, 0.804);

}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;

}

.menu label {
    cursor: pointer;
    display: none;
}

.header-text {
    text-align: center;
    width: 700px;

}

.header-text h1 {
    color: white;
    font-size: 50px;
}

.header-text p {
    color: white;
    margin-top: 50px;
    font-size: 20px;
}

.btn-1 {
    display: inline-block;
    background-color: rgba(54, 54, 177, 0.804);
    margin-top: 35px;
    padding: 15px 25px;
    border-radius: 25px;
    color: white;
}

.btn-1:hover{
    background-color: rgb(49, 49, 226);

}

.btn-4 {
    display: inline-block;
    background-color: rgba(54, 54, 177, 0.804);
    margin-top: 35px;
    padding: 15px 25px;
    border-radius: 25px;
    color: white;
}

.btn-4:hover{
    background-color: rgb(49, 49, 226);

}

.services {
    padding: 50px 0px;
    text-align: center;
    color: black;


}

.services h2 {
    font-size: 55px;
    margin-bottom: 25px;

}

.txt-1 {
    font-size: 18px;
    padding: 0px 200px;
    margin-bottom: 55px;
}

.group-services {
    display: flex;
    justify-content:space-between;

}

.service {
    padding: 20px 15px;
    box-shadow: 0px 0px 15px rgb(0,0,0,0.1);

}

.service img {
    width: 50px;
    margin-bottom: 25px;
}

.service h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

.service p {
    font-size: 10px;

}

.porfolio {
    padding: 50px 0px;
    color: black;
    display: flex;


}

.porfolio-txt h2 {
    font-size: 55px;
    margin-bottom: 35px;
    
}

.porfolio-txt p {
    font-size: 18px;
    margin: 0px 135px 55px 0px;
}

.imgs {
    display: flex;

}

.imgs img {
    width: 250px;
    margin: 0px 10px;

}

.bg-sec {
    background-image: url(images/TARJETA-DE-CREDITO_EDI.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 30px 0px;

}

.bg-txt {
    padding: 100px 0px;
    text-align: center;
    color: white;

}

.bg-txt h2 {
    font-size: 55px;
    margin-bottom: 35px;
}

.bg-txt p {
    font-size: 18px;
    margin-bottom: 25px;

}

.numbers {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    color: black;

}

.number {
    text-align: center;
}

.number h3 {
    font-size: 100px;
    margin-bottom: 25px;
}

.number p {
    font-size: 18px;
}

footer {
    padding: 150px 0px;
    background-color: gray;

}

.ft {
    display: flex;
    justify-content: space-between;
    
}

.enlace h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 25px;

}

.enlace li {
    list-style: none;

}

.enlace a {
    color: white;
    display: block;
    margin-bottom: 15px;
}

.enlace form {
    display: flex;
    flex-direction: column;

}

.btn-2 {
    padding: 10px 25px;
    border: 0;

}

.btn-3 {
    background-color: blue;
    padding: 10px 25px;
    border: 0;
    color: white;
    margin-bottom: 15px;
}


@media (max-width: 991px ) {
    
    .menu{
        padding: 20px;
    }

    .menu label {
        display: initial;

    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: blue;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: none;

    }

    .menu .navbar ul li {
        width: 100%;

    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    header {
        height: 50vh;
    }
    
    .header-text {
        margin-top: 50px;
        padding: 0px 25px;

    }

    .service{
        padding: 30px ;
    }

    .txt-1 {
        padding: 0px;
        margin-bottom: 35px;
    }

    .group-services{
        flex-direction: column;

    }

    .service{
        margin-bottom: 20px;

    }

    .porfolio {
        padding: 0px 30px;
        flex-direction: column;
        text-align: center;
    }

    .porfolio-txt p {
        margin: 0px;

    }

    .imgs {
        flex-direction: column;
        align-items: center;

    }

    .imgs img {
        margin: 15px 0px 0px 0px;
    }
    
    .bg-txt{
        padding: 30px;

    }

    .numbers {
        flex-direction: column;
        padding: 35px;

    }

    footer {
        padding: 30px;

    }

    .ft {
        text-align: center;
        flex-direction: column;
    }

    .enlace form {
        align-items: center;
    }







}